
@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<div>
    <p>Telefon: <strong>070-2560731</strong></p>
    <p>E-mail: <strong>jonatan@streith.se</strong></p>
    <p>Address: <strong>Björkvägen 23B, 54136 Skövde</strong></p>
</div>


