@model List<JS_MVC_Project.Models.PersonData>

@{


    ViewBag.Title = "List Of People";
}

<h2>List Of People</h2>


<div class="row">
    <div id="Table_Of_people" class="col-md-6 col-lg-6">
        <table id="People_List">
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Phone</td>
                        <td>@item.City</td>

                        <td>
                            @using (Html.BeginForm("RemovePerson", "Home", FormMethod.Post))
                            {

                                <input type="hidden" name="person" value="@item.Name" />
                                <input type="submit" class="btn btn-basic" value="Remove" />
                            }
                        </td>
                    </tr>
                }
            }

        </table>

        <label>Sort by: </label>
        <div class="btn-group">

            @using (Html.BeginForm("SortList", "Home", FormMethod.Post))
            {
                <input type="submit" class="btn btn-basic" name="pressedButton" value="Name" />
                <input type="submit" class="btn btn-basic" name="pressedButton" value="R. Name" />
                <input type="submit" class="btn btn-basic" name="pressedButton" value="City" />
                <input type="submit" class="btn btn-basic" name="pressedButton" value="R. City" />

            }

        </div>




    </div>

    <div id="Input_Fields" class="col-md-4 col-lg-4">
        <div class="form-group">
            @using (Html.BeginForm("FilterList", "Home", FormMethod.Post))
            {
                <label for="filter">Filter list by name:</label>
                <input type="text" class="form-control" id="filter" name="filter">


                <input type="submit" class="btn btn-basic" value="Filter">

                <label for="case_sensitive">Case Sensitive: </label>
                <input type="checkbox" id="caseSensitive" value="true" name="caseSensitive" checked />
                <input type="hidden" value="false" name="caseSensitive">

            }

            @using (Html.BeginForm("ClearFilter", "Home", FormMethod.Post))
            {
                <input type="submit" class="btn btn-basic" value="Clear">

            }


        </div>

        <hr />

        @using (Html.BeginForm("AddPerson", "Home", FormMethod.Post))
        {
            <label>Add to list:</label>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name">
                <label for="name">Phone number:</label>
                <input type="text" class="form-control" id="phone" name="phone">
                <label for="name">City of residence:</label>
                <input type="text" class="form-control" id="city" name="city">

                <input type="submit" class="btn btn-basic" value="Add">

            </div>
        }

    </div>
</div>
