@model List<JS_MVC_Project.Models.PersonData>

@{


    ViewBag.Title = "List Of People";
}

<h2>List Of People</h2>


<div class="row">
    <div id="Table_Of_people" class="col-md-9 col-lg-9">

        <div class="row" id="titles">
            <strong>
                <span class="col-lg-3 col-md-3">Name</span>
                <span class="col-lg-3 col-md-3">Telephone number</span>
                <span class="col-lg-3 col-md-3">City of residence</span>
            </strong>
        </div>

        <div class="row" id="entries">
            @Html.Partial("PV_PersonTable", Model)

        </div>

        <hr />

        <label>Sort by: </label>
        <div class="btn-group">

            @using (Html.BeginForm("SortList", "Home", FormMethod.Post))
            {
                <input type="submit" class="btn btn-default" name="pressedButton" value="Name" />
                <input type="submit" class="btn btn-default" name="pressedButton" value="R. Name" />
                <input type="submit" class="btn btn-default" name="pressedButton" value="City" />
                <input type="submit" class="btn btn-default" name="pressedButton" value="R. City" />

            }

        </div>




    </div>

    <div id="Input_Fields" class="col-md-3 col-lg-3">
        @*<div class="form-group">
            @using (Html.BeginForm("FilterList", "Home", FormMethod.Post))
            {
                <label for="filter">Filter list by name:</label>
                <input type="text" class="form-control" id="filter" name="filter">


                <input type="submit" class="btn btn-default" value="Filter">

                <label for="case_sensitive">Case Sensitive: </label>
                <input type="checkbox" id="caseSensitive" value="true" name="caseSensitive" checked />
                <input type="hidden" value="false" name="caseSensitive">

            }

            @using (Html.BeginForm("ClearFilter", "Home", FormMethod.Post))
            {
                <input type="submit" class="btn btn-default" value="Clear">

            }


        </div>*@


        <div class="form-group">
            @using (Ajax.BeginForm(
            actionName: "FilterList",
            controllerName: "Home",

            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "entries",
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace
            }))
        {
            <label for="filter">Filter list by name:</label>
            <input type="text" class="form-control" id="filter" name="filter">


            <input type="submit" class="btn btn-default" value="Filter">

            <label for="case_sensitive">Case Sensitive: </label>
            <input type="checkbox" id="caseSensitive" value="true" name="caseSensitive" checked />
            <input type="hidden" value="false" name="caseSensitive">

    }

            @using (Ajax.BeginForm(
            actionName: "ClearFilter",
            controllerName: "Home",

            ajaxOptions: new AjaxOptions
            {
                UpdateTargetId = "entries",
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace


            }))
        {
            <input type="submit" class="btn btn-default" value="Clear">

    }


        </div>




        <hr />

        @*@using (Html.BeginForm("AddPerson", "Home", FormMethod.Post))
        {
            <label>Add to list:</label>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name">
                <label for="name">Phone number:</label>
                <input type="text" class="form-control" id="phone" name="phone">
                <label for="name">City of residence:</label>
                <input type="text" class="form-control" id="city" name="city">

                <input type="submit" class="btn btn-default" value="Add">

            </div>
        }*@


        @using (Ajax.BeginForm("AddPerson", "Home", new AjaxOptions {

            UpdateTargetId = "entries",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace



        }))
        {
        <label>Add to list:</label>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
            <label for="name">Phone number:</label>
            <input type="text" class="form-control" id="phone" name="phone">
            <label for="name">City of residence:</label>
            <input type="text" class="form-control" id="city" name="city">

            <input type="submit" class="btn btn-default" value="Add">

        </div>
}





    </div>
</div>
