
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Active</h3>

            <ul>
                <li>MVC assignments</li>
                <li>Text-based game (to be named)</li>
            </ul>

        </div>
        <div class="col-md-4">
            <h3>Finished</h3>
            <ul>
                <li>Sokoban    </li>
                <li>Arena Fighter</li>
                <li>Bootstrap webpage</li>
            </ul>

        </div>
        <div class="col-md-4">
            <h3>Future</h3>
            <ul>
                <li>Browser version of text-based game</li>
                <li>Fanfiction</li>
                <li>Eat the moon</li>
            </ul>

        </div>
    </div>
</div>